<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dwiromadon.gispesantren">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_portrait"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon_portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".pengguna.TentangAplikasi"></activity>
        <activity android:name=".admin.EditGambar" />
        <activity android:name=".admin.EditHapusData" />
        <activity android:name=".pengguna.History" />
        <activity android:name=".admin.TambahLogo" />
        <activity android:name=".admin.Pendidikan" />
        <activity android:name=".pengguna.DetailPonpes" />
        <activity android:name=".pengguna.Maps" />
        <activity android:name=".pengguna.DataPesantrenPengguna" />
        <activity android:name=".admin.DataPesantrenAdmin" />
        <activity android:name=".admin.Fasilitas" />
        <activity android:name=".admin.TambahData" />
        <activity android:name=".admin.HomeAdmin" />
        <activity android:name=".users.LoginActivity" /> <!-- <activity android:name=".users.LoginActivity"></activity> -->
        <activity android:name=".pengguna.HomePengguna">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>